body{
	font-family: 'Roboto Condensed', sans-serif;
	color: #FAF3BC;
	background: #420600 url('../img/lake.jpg') repeat;
	background-size: cover;
}

#mainbody{
	background: -webkit-linear-gradient(left, red, orange); /* For Safari */
	background: -o-linear-gradient(left, red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, red, orange); /* For Fx 3.6 to 15 */
	background: linear-gradient(to right, red, orange); /* Standard syntax (must be last) */
}

a{
	color: #FAF3BC;
	text-decoration: none;
}



h1{
	font-size: 2.000em;
}

h2{
	font-size: 1.500em;
	color: #CCCC00;
}



#charlie{
	border-radius: 12.500em;
	margin: 3.125%;
}

#title{
	text-align: center;
	color: #CCCC00;
}

#squirrel{
	border-radius: 12.500em;
	margin: 3.125%;
	width: 50%;
	height: auto;
	float: right;
}


.images{
	width: 90%;
	height: auto;
	border: 0.500em solid #FAF3BC;
}

#games .images{
	width: 100%;
	height: auto;
	border: 0.500em solid #FAF3BC;
}



#intro{
	margin: 7.58% 0 11.36% 3.30%;
}

#dogs{
	border-right: solid;
}

#copyright{
	border-top: 0.500em solid #2A0400;
	padding: 0.625em 0.000em;
	margin: 1.5% 0;
	text-align: center;
}

