body{
	font-family: 'Roboto Condensed', sans-serif;
	color: #FAF3BC;
	background: #420600 url('../img/lake.jpg') repeat;
	background-size: cover;
}

#mainbody{
	background: -webkit-linear-gradient(left, red, orange); /* For Safari */
	background: -o-linear-gradient(left, red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, red, orange); /* For Fx 3.6 to 15 */
	background: linear-gradient(to right, red, orange); /* Standard syntax (must be last) */
}

a{
	color: #FAF3BC;
	text-decoration: none;
}



h1{
	font-size: 2.000em;
}

h2{
	font-size: 1.500em;
	color: #CCCC00;
}



#charlie{
	border-radius: 12.500em;
	margin: 3.125%;
}

#title{
	text-align: center;
	color: #CCCC00;
}

#squirrel{
	border-radius: 12.500em;
	margin: 3.125%;
	max-width: 50%;
	float: right;
}


.images{
	max-width: 90%;
	border: 0.500em solid #FAF3BC;
}

#games .images{
	max-width: 100%;
	border: 0.500em solid #FAF3BC;
}



#intro{
	margin: 7.58% 0 11.36% 3.30%;
}

#dogs{
	border-right: solid;
}

#copyright{
	border-top: 0.500em solid #2A0400;
	padding: 1% 0;
	margin: 1.5% 0;
	text-align: center;
}

/*media queries*/
/*iphone*/
@media screen and (max-width: 480px){
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}

	#squirrel_div,#jordan_div{
		display: none;
	}

	#charlie_div{
		text-align: center;
		margin: 0;
	}

	#intro, #title{
		margin: 0;
	}

	#dogs, #games{
		margin: 5% 0;
	}

	#dogs{
		border-right: none;
	}

	#games img{
		width: 90%;
	}


	body{
	background: -webkit-linear-gradient(left, red, orange); /* For Safari */
	background: -o-linear-gradient(left, red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, red, orange); /* For Fx 3.6 to 15 */
	background: linear-gradient(to right, red, orange); /* Standard syntax (must be last) */	
	}

	#mainbody{
	
	}

}

/*media queries*/
/*ipad*/
@media screen and (max-width: 1024px){
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}

	#squirrel_div,#jordan_div{
		display: none;
	}

	#charlie_div{
		text-align: center;
		margin: 0;
	}

	#intro, #title{
		margin: 0;
	}

	#dogs, #games{
		margin: 5% 0%;
	}

	#dogs{
		border-right: none;
	}

	#games img{
		width: 90%;
	}

	body{
	background: -webkit-linear-gradient(left, red, orange); /* For Safari */
	background: -o-linear-gradient(left, red, orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, red, orange); /* For Fx 3.6 to 15 */
	background: linear-gradient(to right, red, orange); /* Standard syntax (must be last) */	
	}

	#mainbody{
	
	}

}